//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3
#define TVP1 4
#define TVP2 5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        L0Ent {
            bindings = <&kp ENTER>;
            key-positions = <24 23>;
        };

        L0Space {
            bindings = <&kp SPACE>;
            key-positions = <24 22>;
        };

        L0Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <24 21>;
        };

        L0Del {
            bindings = <&kp DELETE>;
            key-positions = <25 24>;
        };

        R0Ent {
            bindings = <&kp ENTER>;
            key-positions = <27 28>;
        };

        R0Space {
            bindings = <&kp SPACE>;
            key-positions = <27 29>;
        };

        R0Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <27 30>;
        };

        R0Del {
            bindings = <&kp DELETE>;
            key-positions = <27 26>;
        };

        L0Capsword {
            bindings = <&caps_word>;
            key-positions = <10 14>;
        };

        R0Capsword {
            bindings = <&caps_word>;
            key-positions = <15 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃     Q     ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     \     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    DEL    ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃           ┃   BSPC    ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                     &kp Q  &kp W           &kp F             &kp P        &kp B        &kp J          &kp L                 &kp U                    &kp Y    &kp SEMICOLON
                     &kp A  &mt LEFT_ALT R  &mt LEFT_SHIFT S  &mt LCTRL T  &kp G        &kp M          &mt RCTRL N           &kp E                    &kp I    &kp O
&mt LEFT_GUI ESCAPE  &kp Z  &kp X           &kp C             &kp D        &kp V        &kp K          &kp H                 &kp COMMA                &kp DOT  &kp MINUS      &mt RIGHT_GUI SLASH
                                            &lt 3 BACKSPACE   &lt 2 SPACE  &lt 1 TAB    &mt RCTRL TAB  &mt LEFT_SHIFT SPACE  &mt RIGHT_ALT BACKSPACE
            >;
        };

        NavFN {
            bindings = <
            &mt LC(HOME) HOME  &mt LC(PG_UP) PG_UP  &mt LC(UP_ARROW) UP_ARROW  &mt LC(PAGE_DOWN) PAGE_DOWN  &mt LC(END) END        &kp F1               &kp F2     &kp F3     &kp F4               &mt LS(F5) F5
            &kp LC(A)          &mt LC(LEFT) LEFT    &mt LC(DOWN) DOWN          &mt LC(RIGHT_ARROW) RIGHT    &kp LC(Y)              &mt LS(F6) F6        &kp F7     &kp F8     &kp F9               &kp F10
&kp SYSREQ  &kp LC(Z)          &mt LC(LS(X)) LC(X)  &kp LC(C)                  &kp ENTER                    &mt LC(LS(V)) LC(V)    &mt LC(LS(V)) LC(V)  &kp ENTER  &kp LC(C)  &mt LS(LC(X)) LC(X)  &mt LS(F12) F12  &mt SYSREQ F11
                                                    &mt LEFT_ALT BACKSPACE     &mt LEFT_SHIFT SPACE         &trans                 &trans               &trans     &trans
            >;
        };

        SymNum {
            bindings = <
                 &kp EXCLAMATION              &kp AT_SIGN                    &kp HASH                      &kp DOLLAR             &kp PERCENT           &kp ASTERISK         &kp N7        &kp N8                   &kp N9        &kp SLASH
                 &kp CARET                    &kp AMPERSAND                  &mt APOSTROPHE DOUBLE_QUOTES  &mt SEMICOLON COLON    &mt QUESTION EQUAL    &kp PLUS             &kp NUMBER_4  &kp N5                   &kp NUMBER_6  &mt UNDERSCORE MINUS
&mt TILDE GRAVE  &mt LEFT_BRACKET LEFT_BRACE  &mt RIGHT_BRACKET RIGHT_BRACE  &kp LEFT_PARENTHESIS          &kp RIGHT_PARENTHESIS  &mt PIPE BACKSLASH    &kp PLUS             &kp NUMBER_1  &kp NUMBER_2             &kp NUMBER_3  &mt UNDERSCORE MINUS  &mt SYSREQ KP_ENTER
                                                                             &mt LEFT_ALT BACKSPACE        &trans                 &mt LCTRL TAB         &mt LESS_THAN COMMA  &kp N0        &mt GREATER_THAN PERIOD
            >;
        };

        adjust_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "ADJ";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃   RESET   ┃ BT CLEAR  ┃  OUT TOG  ┃           ┃           ┃   ┃           ┃    F7     ┃    F8     ┃    F9     ┃    F12    ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃ BOOTLOAD  ┃ BT NEXT   ┃           ┃           ┃           ┃   ┃           ┃    F4     ┃    F5     ┃    F6     ┃    F11    ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃           ┃ BT PREV   ┃           ┃           ┃           ┃   ┃           ┃    F1     ┃    F2     ┃    F3     ┃    F10    ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃           ┃           ┃   ┃           ┃           ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
              &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4      &sys_reset  &none  &none  &none  &none
              &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4     &none       &none  &none  &none  &none
&out OUT_TOG  &out OUT_USB   &out OUT_BLE   &bt BT_CLR     &bt BT_PRV     &bt BT_NXT        &none       &none  &none  &none  &none  &bootloader
                                            &trans         &none          &bt BT_CLR_ALL    &none       &none  &none
            >;
        };
    };
};
